<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Konta</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
    <style>

    </style>
</head>
<body>
<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <!--/*@thymesVar id="account" type="com.moneyAppV5.account.dto.AccountDTO"*/-->
    <a th:href="@{/moneys}">Strona główna</a>

<form action="#" method="post" th:action="@{/accounts}" th:object="${account}">
    <fieldset>
        <legend>Nowe konto</legend>
            <label>Nazwa konta
                <input type="text" th:field="${account.name}" />
            </label>
            <label>Stan konta[zł]
<!--                TODO trzeba pamiętać żeby wpisywać z kropką-->
                <input type="number" step="0.01" th:field="${account.actualBalance}" />
            </label>
            <label>Opis konta
                <input type="text" th:field="${account.description}" />
            </label>
    </fieldset>
    <p>
        <button type="submit">Dodaj</button>
        <button type="reset">Wyczyść</button>
    </p>
</form>
    <div>
        <label>Suma bieżących sald kont: </label>
        <label th:text="${allAccountsSum}"></label>
    </div>
    <div>
        <p>Konta</p>
        <table>
            <tr>
                <td>Nazwa</td><td>Saldo</td><td>Opis</td>
            </tr>
            <tr th:each="account : ${accounts}">
                <td>
                    <a th:href="@{/accountView/{hash}(hash=${account.hash})}"
                       th:text="${account.name}"></a>
                </td>
                <td th:text="${account.actualBalance}"></td>
                <td th:text="${account.description}"></td>
            <!--                TODO-->
                <td>Aktualizuj</td>
                <td>Usuń</td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>