<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Szczegóły konta</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="account" type="com.moneyAppV5.account.dto.AccountDTO"*/-->
    <!--/*@thymesVar id="transaction" type="com.moneyAppV5.transaction.dto.TransactionDTO"*/-->
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->

    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <a th:href="@{/moneys}">Strona główna</a>
    <a th:href="@{/accounts}">Powrót do listy kont</a>

    <p>
        <label>Nazwa konta: </label>
        <label th:text="${account.name}"></label>
    </p>
    <p>
        <label>Opis konta: </label>
        <label th:text="${account.description}"></label>
    </p>
    <p>
        <label>Bieżące saldo konta: </label>
        <label th:text="${account.actualBalance}"></label>
        <label> [zł]</label>
<!--        TODO przejście do historii zmian stanu konta-->
    </p>

    <div>
        <h2>Saldo</h2>
        <table th:object="${account}">
            <tr>
<!--                TODO określenia miesięcy - bardziej polskie określenia-->
                <td></td>
                <td>Bieżący miesiąc</td>
                <td>Poprzedni miesiąc</td>
                <td>Jeszcze poprzedni miesiąc</td>
                <td>Bieżący rok</td>
                <td>Ogółem</td>
            </tr>
            <tr>
            <tr>
                <td></td>
            <td th:if="${actualBudgets.actual.hash != null}">
                <a th:href="@{/budgetView/{budgetHash}(budgetHash=${actualBudgets.actual.hash})}"
                   th:text="${actualBudgets.actual.name}"></a>
            </td>
            <td th:if="${actualBudgets.actual.hash == null}">
                <label th:text="${actualBudgets.actual.name}"></label>
            </td>
            <td th:if="${actualBudgets.actualMinusOne.hash != null}">
                <a th:href="@{/budgetView/{budgetHash}(budgetHash=${actualBudgets.actualMinusOne.hash})}"
                   th:text="${actualBudgets.actualMinusOne.name}"></a>
            </td>
            <td th:if="${actualBudgets.actualMinusOne.hash == null}">
                <label th:text="${actualBudgets.actualMinusOne.name}"></label>
            </td>
            <td th:if="${actualBudgets.actualMinusTwo.hash != null}">
                <a th:href="@{/budgetView/{budgetHash}(budgetHash=${actualBudgets.actualMinusTwo.hash})}"
                   th:text="${actualBudgets.actualMinusTwo.name}"></a>
            </td>
            <td th:if="${actualBudgets.actualMinusTwo.hash == null}">
                <label th:text="${actualBudgets.actualMinusTwo.name}"></label>
            </td>
                <!--            TODO roczny i ogólny-->
                <td></td>
                <td></td>
            </tr>
            </tr>
            <tr>
                <td>Dochody</td>
                <td th:text="*{actualMonthBudget.actualIncomes}"></td>
                <td th:text="*{actualMonthMinusOneBudget.actualIncomes}"></td>
                <td th:text="*{actualMonthMinusTwoBudget.actualIncomes}"></td>
                <td th:text="*{actualYearIncome}"></td>
                <td th:text="*{overallIncome}"></td>
            </tr>
            <tr>
                <td>Wydatki</td>
                <td th:text="*{actualMonthBudget.actualExpenses}"></td>
                <td th:text="*{actualMonthMinusOneBudget.actualExpenses}"></td>
                <td th:text="*{actualMonthMinusTwoBudget.actualExpenses}"></td>
                <td th:text="*{actualYearExpense}"></td>
                <td th:text="*{overallExpense}"></td>
            </tr>
            <tr>
                <td>Saldo transakcji</td>
                <td th:text="*{actualMonthBudget.balanceActual}"></td>
                <td th:text="*{actualMonthMinusOneBudget.balanceActual}"></td>
                <td th:text="*{actualMonthMinusTwoBudget.balanceActual}"></td>
                <td th:text="*{actualYearBalance}"></td>
                <td th:text="*{overallBalance}"></td>
            </tr>
<!--            TODO saldo konta w danym okresie-->
<!--            <tr>-->
<!--                <td>Saldo konta</td>-->
<!--                <td th:text="*{actualMonthAccountBalance}"></td>-->
<!--                <td th:text="*{actualMonthMinusOneAccountBalance}"></td>-->
<!--                <td th:text="*{actualMonthMinusTwoAccountBalance}"></td>-->
<!--                <td th:text="*{actualYearAccountBalance}"></td>-->
<!--                <td th:text="*{overallAccountBalance}"></td>-->
<!--            </tr>-->

        </table>
    </div>
    <div>
        <h2>Miesiąc z: </h2>
        <table>
            <tr>
                <td></td><td>Budżet</td><td>Kwota/ilość</td>
            </tr>
            <tr>
                <td>Największą suma transakcji: </td>
                <td th:if="${budgetStats.sums.highestSumBudget != null}">
                    <a th:href="@{/budgetView/{budgetHash}(budgetHash=${budgetStats.sums.highestSumBudget.hash})}"
                       th:text="${budgetStats.sums.highestSumBudget.name}"></a>
                </td>
                <td th:if="${budgetStats.sums.highestSumBudget == null}" >
                    <label>n/d</label>
                </td>
                <td th:if="${budgetStats.sums.highestSum != null}" th:text="${budgetStats.sums.highestSum}"></td>
            </tr>
            <tr>
                <td>Najmniejszą suma transakcji: </td>
                <td th:if="${budgetStats.sums.lowestSumBudget != null}">
                    <a th:href="@{/budgetView/{budgetHash}(budgetHash=${budgetStats.sums.lowestSumBudget.hash})}"
                       th:text="${budgetStats.sums.lowestSumBudget.name}"></a>
                </td>
                <td th:if="${budgetStats.sums.lowestSumBudget == null}" >
                    <label>n/d</label>
                </td>
                <td th:if="${budgetStats.sums.lowestSum != null}" th:text="${budgetStats.sums.lowestSum}"></td>
            </tr>
            <tr>
                <td>Największą ilością transakcji: </td>
                <td th:if="${budgetStats.counts.highestCountBudget != null}">
                    <a th:href="@{/budgetView/{budgetHash}(budgetHash=${budgetStats.counts.highestCountBudget.hash})}"
                       th:text="${budgetStats.counts.highestCountBudget.name}"></a>
                </td>
                <td th:if="${budgetStats.counts.highestCountBudget == null}" >
                    <label>n/d</label>
                </td>
                <td th:if="${budgetStats.counts.highestCount != null}" th:text="${budgetStats.counts.highestCount}"></td>
            </tr>
            <tr>
                <td>Najmniejszą ilością transakcji: </td>
                <td th:if="${budgetStats.counts.lowestCountBudget != null}">
                    <a th:href="@{/budgetView/{budgetHash}(budgetHash=${budgetStats.counts.lowestCountBudget.hash})}"
                       th:text="${budgetStats.counts.lowestCountBudget.name}"></a>
                </td>
                <td th:if="${budgetStats.counts.lowestCountBudget == null}" >
                    <label>n/d</label>
                </td>
                <td th:if="${budgetStats.counts.lowestCount != null}" th:text="${budgetStats.counts.lowestCount}"></td>
            </tr>
        </table>
    </div>

    <div>
        <h1>Transakcje konta</h1>
        <table>
            <tr>
                <td>Data</td><td>Kwota [zł]</td><td>Kontrahent</td><td>Typ</td><td>Kategoria</td><td>Beneficjent</td><td>opis</td>
            </tr>
            <!--        TODO  najlepiej domyslnie sortowana od najnowszych-->
            <tr th:each="transaction : ${account.transactions}">
                <!--                TODO dodać opcje filtrowania listy-->
                <td th:text="${transaction.date}" ></td>
                <td th:text="${transaction.amount}"></td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.payee.hash})}"
                       th:text="${transaction.payee.name}"></a>
                </td>
                <td>
                    <a th:href="@{/typeView/{type}(type=${transaction.category.type.name})}"
                       th:text="${transaction.category.type.name}"></a>
                </td>
                <td>
                    <a th:href="@{/categoryView/{hash}(hash=${transaction.category.hash})}"
                       th:text="${transaction.category.category}"></a>
                </td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.gainer.hash})}"
                       th:text="${transaction.gainer.name}"></a>
                </td>
                <td th:text="${transaction.description}"></td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>