<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dodawanie transakcji</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<h1 th:if="${message != null}" th:text="${message}"></h1>
<!--/*@thymesVar id="transaction" type="com.moneyAppV5.transaction.Transaction"*/-->
<!--/*@thymesVar id="bill" type="com.moneyAppV5.bill.dto.BillWriteModel"*/-->
<!--/*@thymesVar id="payee" type="com.moneyAppV5.transaction.Payee"*/-->
<!--/*@thymesVar id="account" type="com.moneyAppV5.account.Account"*/-->
<!--/*@thymesVar id="category" type="com.moneyAppV5.category.Category"*/-->
<!--/*@thymesVar id="t" type="com.moneyAppV5.category.Type"*/-->
<form action="#" method="post" th:action="@{/budgetView/{hash}/addTransaction(hash=${budgetHash})}" th:object="${bill}">
    <fieldset>
        <input type="hidden" name="budget" th:value="${budget}" th:field="${bill.budget}">

        <legend>Nowy rachunek</legend>
            <label>Dzień
                <input name="day" type="number" value="1" min="1" max="31" th:field="${bill.day}" />
            </label>

        <label>Konto
            <select th:field="${bill.account}">
                <option value="0">Proszę wybrać konto</option>
                <option th:each="account : ${accountsList}" th:value="${account.id}" th:text="${account.name}" ></option>
            </select>
        </label>
        <label>Kontrahent:
            <select name="payees" th:field="${bill.payee}">
                <option value="0">Proszę wybrać </option>
                <option th:each="payee : ${payeesList}" th:value="${payee.id}" th:text="${payee.name}"></option>
            </select>

        </label>
        <fieldset th:each="transaction, i : *{transactions}">
            <legend>Transakcja w rachunku</legend>
            <label>Kwota [zł]
                <input type="number" step="0.01" th:field="*{transactions[__${i.index}__].amount}" />
            </label>
            <label>Kategoria transakcji
                <select name="cat" th:field="*{transactions[__${i.index}__].category}" >
                    <option value="0">Proszę wybrać kategorię</option>
                    <option th:each="category : ${categoriesList}" th:value="${category.id}" th:text="${category.category}"></option>
                </select>
            </label>
            <label>Dla:
                <select name="gainers" th:field="*{transactions[__${i.index}__].gainer}" >
                    <option value="0">Proszę wybrać</option>
                    <option th:each="payee : ${gainersList}" th:value="${payee.id}" th:text="${payee.name}"></option>
                </select>
            </label>

            <label>Opis transakcji
                <input type="text" th:field="*{transactions[__${i.index}__].description}" />
            </label>
        </fieldset>
        <div>
            <button type="submit" name="addTransaction">+</button>
        </div>
    </fieldset>
    <p>
        <button type="submit">Dodaj</button>
        <button type="reset">Wyczyść</button>
    </p>

</form>
<a th:href="@{/moneys}">Strona główna</a>
    <a th:href="@{/budgetView/{hash}(hash=${budgetHash})}" >Powrót do budżetu</a>
<!--    TODO ostanio dodane transakcje/rachunki srtowane od najnowszych-->
</body>
</html>