<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Budżet</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">

    <style>
    </style>
</head>
<body>
<!--/*@thymesVar id="budget" type="com.moneyAppV5.budget.dto.BudgetDTO"*/-->
<!--/*@thymesVar id="position" type="com.moneyAppV5.budget.dto.BudgetPositionDTO"*/-->
<!--/*@thymesVar id="transaction" type="com.moneyAppV5.transaction.dto.TransactionDTO"*/-->
<!--/*@thymesVar id="message" type="java.lang.String"*/-->

<h1 th:if="${message != null}" th:text="${message}"></h1>
<p>
    <a th:href="@{/moneys}">Strona główna</a>
    <a th:href="@{/budgets}">Lista budżetów</a>
    <a th:href="@{/budgetView/{hash}/plan(hash=${hash})}">Plan budżetu</a>
    <a th:href="@{/budgetView/{hash}/addTransaction(hash=${hash})}">Dodaj transakcje</a>
    <a th:href="@{/categories}">Przejdź do kategorii</a>
</p>

<h3>Widok ogólny budżetu</h3>

<div>
<table>
    <tr>
        <td></td><td>Planowane [zł]</td><td>Rzeczywiste [zł]</td><td>Saldo [zł]</td>
    </tr>
    <tr>
        <td>Dochody [zł]</td><td th:text="${budget.plannedIncomes}"></td><td th:text="${budget.actualIncomes}"></td><td th:text="${budget.balanceIncomes}"></td>
    </tr>
    <tr>
        <td>Wydatki [zł]</td><td th:text="${budget.plannedExpenses}"></td><td th:text="${budget.actualExpenses}"></td><td th:text="${budget.balanceExpenses}"></td>
    </tr>
    <tr>
        <td>Saldo [zł]</td><td th:text="${budget.balancePlanned}"></td><td th:text="${budget.balanceActual}"></td>
    </tr>
</table>
</div>
<div>
<h3>Widok szczegółowy dochodów</h3>
    <table>
        <tr>
            <td>Kategoria</td><td>Planowane dochody</td><td>Rzeczywiste dochody</td><td>Różnica</td><td>Opis</td>
        </tr>
        <tr>
            <td>Suma</td><td th:text="${budget.plannedIncomes}"></td><td th:text="${budget.actualIncomes}"></td><td th:text="${budget.balanceIncomes}"></td><td>Opis</td>
        </tr>
        <tr th:each="position : ${budget.incomesDto}">
            <td >
                <a th:href="@{/categoryView/{hash}(hash=${position.category.hash})}"
                   th:text="${position.category.category}"></a>
            </td>
            <td th:text="${position.plannedAmount}"></td>
            <td  th:text="${position.actualAmount}"></td>
            <td  th:text="${position.balance}"></td>
            <td  th:text="${position.description}"></td>
            <td>
                <a th:href="@{/positionView/{hash}(hash=${position.hash})}"
                   th:text="Szczegóły"></a>
            </td>
<!--        TODO zrobienie podlisty z subkategoriami - czy chdzi o tr wewnątrz tr? jest nie zamknięty bo ten od głównego go domyka-->
<!--        TODO wyciągnięcie listy subkategorii-->
                <tr>
                    <td>Nazwa subkategorii</td><td>Planowane dochody</td><td>Rzeczywsite dochody</td><td>Różnica</td><td>Opis</td>
       </tr>
    </table>
</div>
<div>
    <h3>Widok szczegółowy wydatków</h3>
    <table>
        <tr>
            <td>Kategoria</td><td>Planowane wydatki</td><td>Rzeczywiste wydatki</td><td>Różnica</td><td>Opis</td>
        </tr>
        <tr>
            <td>Suma</td><td th:text="${budget.plannedExpenses}"></td><td th:text="${budget.actualExpenses}"></td><td th:text="${budget.balanceExpenses}"></td><td>Opis</td>
        </tr>
        <tr th:each="position : ${budget.expensesDto}">
            <!--            TODO póki co w najprostszej postaci - póxniej zrobić tak aby była głowna kategoria i w niej podkategorie-->
            <!--            TODO czy na pewno wartości powinny się zaczytywać z pozycji a nie być obliczane?-->
            <td >
                <a th:href="@{/categoryView/{hash}(hash=${position.category.hash})}"
                   th:text="${position.category.category}"></a>
            </td>
            <td th:text="${position.plannedAmount}"></td>
            <td  th:text="${position.actualAmount}"></td>
            <td  th:text="${position.balance}"></td>
            <td  th:text="${position.description}"></td>
            <td>
                <a th:href="@{/positionView/{hash}(hash=${position.hash})}"
                   th:text="Szczegóły"></a>
            </td>
            <!--        TODO zrobienie podlisty z subkategoriami - czy chdzi o tr wewnątrz tr? jest nie zamknięty bo ten od głównego go domyka-->
            <!--        TODO wyciągnięcie listy subkategorii-->
    </table>
</div>
<!--TODO statystyki - największa suma transakcji najjwiększa ilość transakcji w pozycji itp-->
<div>
    <h1>Transakcje w tym miesiącu</h1>
    <table>
        <tr>
            <td>Dzień</td><td>Konto</td><td>Kwota [zł]</td><td>Kontrahent</td><td>Kategoria</td><td>Beneficjent</td><td>opis</td>
        </tr>
<!--        TODO - najlepiej domyslnie sortowana od najnowszych-->
        <tr th:each="transaction : ${budget.transactionsDto}">
            <!--                TODO opcje filtrowania listy-->
            <td th:text="${transaction.day}" ></td>
            <td>
                <a th:href="@{/accountView/{hash}(hash=${transaction.account.hash})}"
                   th:text="${transaction.account.name}"></a>
            </td>
            <td th:text="${transaction.amount}"></td>
            <td>
                <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.payee.hash})}"
                   th:text="${transaction.payee.name}"></a>
            </td>
            <td>
                <a th:href="@{/categoryView/{hash}(hash=${transaction.category.hash})}"
                   th:text="${transaction.category.category}"></a>
            </td>
            <td>
                <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.gainer.hash})}"
                   th:text="${transaction.gainer.name}"></a>
            </td>
            <td th:text="${transaction.description}"></td>
        </tr>
    </table>
</div>

</body>
</html>