<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dostępne budżety</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="budget" type="com.moneyAppV5.budget.dto.BudgetDTO"*/-->
    <!--/*@thymesVar id="month" type="java.time.Month"*/-->
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <form action="#" method="post" th:action="@{/budgets}" th:object="${budget}">
        <fieldset>
            <legend>Nowy budżet</legend>
            <label>Miesiąc budżetu
                <input type="number" th:field="*{month}"/>
            </label>
            <label>Rok budżetu
                <input type="number" th:field="*{year}"/>
            </label>
            <button type="submit">Dodaj budżet</button>
            <button type="reset">Wyczyść</button>
        </fieldset>
        <!--        TODO przejście do wybranego budżetu na dany miesiąc-->

    </form>
    <a th:href="@{/moneys}">Strona główna</a>

    <div>
        <h1>Dostępne budżety</h1>
        <table>
            <tr>
                <td>Miesiąc</td><td>...</td><td>Opis</td><td>Link</td>
            </tr>
            <tr th:each="budget : ${budgetsList}">
                             <!--                TODO dodać opcje filtrowania listy-->
                <td>
                    <a th:href="@{/budgetView/{hash}(hash=${budget.hash})}"
                       th:text="${budget.name}"></a>
                </td>
                <td>...</td><td th:text="${budget.description}"></td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>