<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planowanie budżetu</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="budget" type="com.moneyAppV5.budget.dto.BudgetDTO"*/-->
    <!--/*@thymesVar id="position" type="com.moneyAppV5.budget.dto.BudgetPositionDTO"*/-->
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <!--/*@thymesVar id="positions" type="com.moneyAppV5.budget.dto.BudgetPositionsWrapperDTO"*/-->

    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <p>
        <a th:href="@{/moneys}">Strona główna</a>
        <a th:href="@{/budgets}">Lista budżetów</a>
        <a th:href="@{/budgetView/{hash}/(hash=${hash})}">Powrót do budżetu</a>
        <a th:href="@{/budgetView/{hash}/addTransaction(hash=${hash})}">Dodaj transakcje</a>
        <a th:href="@{/categories}">Przejdź do kategorii</a>
    </p>

    <form action="#" method="post" th:action="@{/budgetView/{budgetHash}/plan(budgetHash=${budgetHash})}" th:object="${positions}">
        <fieldset>
            <h2>Plan dochodów</h2>
            <table>
                <tr th:each="position, positionStat : *{incomesList}">
                    <td th:text="${position.category.category}">
                    </td>
                    <td >
                        <input type="number" th:field="*{incomesList[__${positionStat.index}__].plannedAmount}" >
                    </td>
                        <input type="hidden" th:field="*{incomesList[__${positionStat.index}__].category.mainCategory.mainCategory}"/>
                        <input type="hidden" th:field="*{incomesList[__${positionStat.index}__].category.mainCategory.hash}"/>

                        <input type="hidden" th:field="*{incomesList[__${positionStat.index}__].category.subCategory}"/>
                        <input type="hidden" th:field="*{incomesList[__${positionStat.index}__].category.category}"/>
                        <input type="hidden" th:field="*{incomesList[__${positionStat.index}__].category.type}"/>
                        <input type="hidden" th:field="*{incomesList[__${positionStat.index}__].category.hash}"/>

                        <input type="hidden" th:field="*{incomesList[__${positionStat.index}__].hash}">
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <h2>Plan wydatków</h2>
            <table>
                <tr th:each="position, positionStat : *{expensesList}">
                    <td th:text="${position.category.category}">

                    </td>
                    <td >
                        <input type="number" th:field="*{expensesList[__${positionStat.index}__].plannedAmount}" >
                    </td>
                        <input type="hidden" th:field="*{expensesList[__${positionStat.index}__].category.mainCategory.mainCategory}"/>
                        <input type="hidden" th:field="*{expensesList[__${positionStat.index}__].category.mainCategory.hash}"/>

                        <input type="hidden" th:field="*{expensesList[__${positionStat.index}__].category.subCategory}"/>
                        <input type="hidden" th:field="*{expensesList[__${positionStat.index}__].category.category}"/>
                        <input type="hidden" th:field="*{expensesList[__${positionStat.index}__].category.type}"/>
                        <input type="hidden" th:field="*{expensesList[__${positionStat.index}__].category.hash}"/>

                        <input type="hidden" th:field="*{expensesList[__${positionStat.index}__].hash}">
                </tr>
            </table>
        </fieldset>
        <p>
            <button type="submit">Dodaj</button>
            <button type="reset">Wyczyść</button>
        </p>
    </form>
</main>
</body>
</html>