<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="shoppingList" type="com.moneyAppV5.cart.dto.ShoppingListWrapperDTO"*/-->
    <!--/*@thymesVar id="position" type="com.moneyAppV5.cart.dto.ShoppingPositionDTO"*/-->
    <!--/*@thymesVar id="genre" type="com.moneyAppV5.product.Genre"*/-->
    <!--/*@thymesVar id="unit" type="com.moneyAppV5.product.Unit"*/-->
    <!--/*@thymesVar id="shop" type="com.moneyAppV5.product.dto.ShopDTO"*/-->
    <!--/*@thymesVar id="cart" type="java.util.Map<com.moneyAppV5.product.dto.ShopDTO, java.util.List<CartPositionWrapper>"*/-->


<!--    TODO myślę że lepiej jeśli inputy będą leżały poziomo obok siebie-->
    <form action="#" method="post" th:action="@{/cartGenerator}" th:object="${shoppingList}">
        <fieldset th:each="position, i : *{positions}">
            <label>Produkt
                <select name="genres" th:field = "*{positions[__${i.index}__].genre}">
                    <option value="0">Proszę wybrać</option>
                    <option th:each="genre : ${genresList}" th:value="${genre.id}" th:text="${genre.name}" ></option>
                </select>
            </label>
            <label>Ilość
                <input type="number" step="0.1" th:field = "*{positions[__${i.index}__].quantity}">
            </label>
            <label>Miara ilości
                <select name="units" th:field = "*{positions[__${i.index}__].unit}">
                    <option value="0">Proszę wybrać</option>
<!--                    TODO pomysł na ogarnięcie tego na poziomie serwisu?-->
                    <option th:each="unit : ${unitsList}" th:value="${unit.id}" th:if="${unit.subUnit.name} != null"
                            th:text="|${unit.subUnit.name}${unit.mainUnit.name}|" ></option>
                    <option th:each="unit : ${unitsList}" th:value="${unit.id}" th:if="${unit.subUnit.name} == null"
                            th:text="|${unit.mainUnit.name}|" ></option>
                </select>
            </label>
            <div>
                <button type="submit" name="addPosition">+</button>
            </div>
        </fieldset>
        <p>
            <button type="submit">Dodaj</button>
            <button type="reset">Wyczyść</button>
        </p>
    </form>
<!--TODO wyświetlanie wózków-->
    <h2>Wózki</h2>
    <table>
        <tr >
            <td>Sklepy: </td>
            <td th:each="shop : ${shops}" th:text="${shop.name}"></td>
        </tr>
        <tr>
            <td></td>
<!--            TODO błąd - jakwyświetlać poszczególne listy?-->
            <td th:each="cart : ${carts}" th:text="${cart.get(shop)}"></td>
        </tr>
    </table>
</main>
</body>
</html>