<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="shoppingList" type="com.moneyAppV5.cart.dto.ShoppingListWrapperDTO"*/-->
    <!--/*@thymesVar id="genre" type="com.moneyAppV5.product.dto.GenreDTO"*/-->
    <!--/*@thymesVar id="unit" type="com.moneyAppV5.product.dto.UnitDTO"*/-->
    <form action="#" method="post" th:action="@{/cartGenerator}" th:object="${shoppingList}">
        <fieldset th:each="position, i : *{positions}">
            <label>Produkt
<!--                TODO czemu błąd? col 39-->
                <select name="genres" th:field = "*{positions[__${i.index}__].genre}">
                    <option value="0">Proszę wybrać</option>
                    <option th:each="genre : ${genresList}" th:value="${genre}" th:text="${genre.name}" ></option>
                </select>
            </label>
            <label>Ilość
                <input type="number" step="0.1" th:field = "*{positions[__${i.index}__].quantity}">
            </label>
            <label>Miara ilości
                <select name="units" th:field = "*{positions[__${i.index}__].unit}">
                    <option value="0">Proszę wybrać</option>
                    <option th:each="unit : ${unitsList}" th:value="${unit}" th:text="${unit.name}" ></option>
                </select>
            </label>
            <div>
                <button type="submit" name="addPosition">+</button>
            </div>
        </fieldset>
        <p>
            <button type="submit">Dodaj</button>
            <button type="reset">Wyczyść</button>
        </p>
    </form>
</main>
</body>
</html>