<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kategorie</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
<!--/*@thymesVar id="category" type="com.moneyAppV5.category.dto.CategoryDTO"*/-->
    <!--/*@thymesVar id="main" type="com.moneyAppV5.category.dto.MainCategoryDTO"*/-->
    <!--/*@thymesVar id="subC" type="com.moneyAppV5.category.dto.SubCategoryDTO"*/-->
<form action="#" method="post" th:action="@{/categories}" th:object="${category}">
    <fieldset>
        <legend>Nowa kategoria</legend>
        <label> Nazwa kategorii
            <input list="mains" name="mainCats" th:field="${category.main}" />
                <datalist id="mains">
                    <option th:each="main : ${mainCategories}" th:value="${main.getMainCategory()}" th:text="${main.mainCategory}"></option>
                </datalist>
        </label>
        <label> Nazwa podkategorii
            <input list="subs" name="subCats" th:field="${category.sub}" />
            <datalist id="subs">
                <option th:each="subC : ${subCategories}" th:value="${subC.getSubCategory()}" th:text="${subC.subCategory}"></option>
            </datalist>
        </label>
        <label > Typ kategorii
            <select class="form-control" id="typeId" name="type">
                <option value="0" >Proszę wybrać typ kategorii</option>
                <option th:each="t : ${T(com.moneyAppV5.category.Type).values()}" th:value="${t.name()}" th:text="${t.name}"></option>
            </select>
        </label>
        <label> Opis kategorii
            <input type="text"  th:field="${category.description}"/>
        </label>
    </fieldset>
    <p>
        <button type="submit">Dodaj</button>
        <button type="reset">Wyczyść</button>
    </p>
</form>
    <p>
        <a th:href="@{/moneys}">Strona główna</a>
    </p>

<!--    TODO filtorwanie-->
<!--    TODO nadkategoria i w niej subkategorie?-->
<!--    TODO przejście do kategorii jako takiej-->
    <h1>Kategorie</h1>
    <table>
        <tr>
            <td>Kategoria</td><td>Podkategoria</td><td>Typ</td><td>Opis</td>
        </tr>
        <tr th:each="category : ${categories}">
            <td>
                <a th:href="@{/mainCategoryView/{hash}(hash=${category.mainCategoryDto.hash})}"
                   th:text="${category.mainCategoryDto.mainCategory}"></a>
            </td>
            <td>
                <a th:href="@{/subCategoryView/{hash}(hash=${category.subCategoryDto.hash})}"
                   th:text="${category.subCategoryDto.subCategory}"></a>
            </td>
<!--            TODO typeView-->
            <td>
                <a th:href="@{/typeView/{type}(type=${category.type.name})}"
                   th:text="${category.type.name}"></a>
            </td>
            <td th:text="${category.description}"></td>
        </tr>
    </table>
</main>
</body>
</html>