<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kategoria</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="category" type="com.moneyAppV5.category.dto.CategoryDTO"*/-->
    <!--/*@thymesVar id="transaction" type="com.moneyAppV5.transaction.dto.TransactionDTO"*/-->
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->

    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <a th:href="@{/moneys}">Strona główna</a>
    <a th:href="@{/categories}">Powrót do listy kategorii</a>

    <p>
        <Label>Nadkategoria: </Label>
        <a th:href="@{/mainCategoryView/{hash}(hash=${category.mainCategoryDto.hash})}"
           th:text="${category.mainCategoryDto.mainCategory}"></a>
    </p>
    <p>
        <Label>Podkategoria: </Label>
        <a th:href="@{/subCategoryView/{hash}(hash=${category.subCategoryDto.hash})}"
           th:text="${category.subCategoryDto.subCategory}"></a>
    </p>
    <p>
        <label>Typ kategorii: </label>
        <a th:href="@{/typeView/{type}(type=${category.type.name})}"
           th:text="${category.type.name}"></a>
    </p>
    <p>
        <label>Opis: </label>
        <label th:text="${category.description}"></label>
    </p>
    <div>
        <label>Kwoty</label>
        <p>
            <label>Suma transakcji w bieżącym miesiącu [zł]: </label>
            <label th:text="${actualMonthSum}"></label>
        </p>
<!--        TODO actualYear?-->
        <p>
            <label>Ogólna suma transkcji [zł]: </label>
            <label th:text="${overallSum}"></label>
        </p>
    </div>
<!--    TODO opis liczb? np suma z ostaniego miesiąca itd?-->
<!--    budżet z najwyższą kwotą-->
<!--    budżet z najniższą kwotą-->
<!--    itd-->

    <div>
        <h1>Transakcje</h1>
        <table th:object="${transaction}">
            <tr>
                <td>Data</td><td>Konto</td><td>Kwota [zł]</td><td>Kontrahent</td><td>Typ</td><td>Beneficjent</td><td>opis</td>
            </tr>
            <!--        TODO lista transakcji z danego konta - najlepiej sortowana od najnowszych-->
            <tr th:each="transaction : ${category.transactionsDTO}">
                <!--                TODO czemu się nie pojawia data?-->
                <!--                TODO dodać opcje filtrowania listy-->
<!--                TODO dateView? pokazujący transakcje z danego dnia-->
                <td th:text="*{date}" ></td>
                <td>
                    <a th:href="@{/accountView/{accountHash}(accountHash=${transaction.account.hash})}"
                       th:text="${transaction.account.name}"></a>
                </td>
                <td th:text="${transaction.amount}"></td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.payee.hash})}"
                       th:text="${transaction.payee.name}"></a>
                </td>
<!--                TODO typeView-->
                <td th:text="${transaction.category.type}"></td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.gainer.hash})}"
                       th:text="${transaction.gainer.name}"></a>
                </td>
                <td th:text="${transaction.description}"></td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>