<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kontahent</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <!--/*@thymesVar id="payee" type="com.moneyAppV5.transaction.dto.PayeeDTO"*/-->
    <!--/*@thymesVar id="transaction" type="com.moneyAppV5.transaction.dto.TransactionDTO"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <a th:href="@{/moneys}">Strona główna</a>
    <a th:href="@{/payees}">Powrót do listy kontrahentów</a>

    <p>
        <label>Nazwa: </label>
        <label th:text="${payee.name}"></label>
    </p>
    <p>
<!--        TODO link do roli-->
        <label>Rola: </label>
        <label th:text="${payee.role}"></label>
    </p>
    <p>
        <label>Opis: </label>
        <label th:text="${payee.description}"></label>
    </p>

<!--    TODO statystki jak dla innych-->
<!--    TODO lista transakcji-->
<!--    TODO jak wycinać kontrahneta który jest "nagłowkiem"?-->
    <div>
        <h1>Transakcje</h1>
        <table>
            <tr>
                <td>Data</td><td>Konto</td><td>Kwota [zł]</td><td>Kontrahent</td><td>Kategoria</td><td>Beneficjent</td><td>Opis</td>
            </tr>
            <!--        TODO najlepiej sortowana od najnowszych-->
            <tr th:each="transaction : ${transactions}">
                <!--                TODO czemu się nie pojawia data?-->
                <!--                TODO dodać opcje filtrowania listy-->
                <td th:text="${transaction.date}" ></td>
                <td>
                    <a th:href="@{/accountView/{hash}(hash=${transaction.account.hash})}"
                       th:text="${transaction.account.name}"></a>
                </td>
                <td th:text="${transaction.amount}"></td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.payee.hash})}"
                       th:text="${transaction.payee.name}"></a>
                </td>
                <td>
                    <a th:href="@{/categoryView/{hash}(hash=${transaction.category.hash})}"
                       th:text="${transaction.category.category}"></a>
                </td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.gainer.hash})}"
                       th:text="${transaction.gainer.name}"></a>
                </td>
                <td th:text="${transaction.description}"></td>
            </tr>
        </table>
    </div>

</main>
</body>
</html>