<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pozycja budżetu</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="transaction" type="com.moneyAppV5.transaction.dto.TransactionDTO"*/-->
    <!--/*@thymesVar id="position" type="com.moneyAppV5.budget.dto.BudgetPositionDTO"*/-->
    <!--/*@thymesVar id="budget" type="com.moneyAppV5.budget.dto.BudgetDTO"*/-->

    <p>
        <label>Budżet: </label>
<!--        TODO miesiąc i rok budżetu-->
        <label th:text="${position.budgetDto.name}"></label>
    </p>
    <p>
        <a th:href="@{/moneys}">Strona główna</a>
        <a th:href="@{/budgets}">Lista budżetów</a>
        <a th:href="@{/budgetView/{budgetHash}/(budgetHash=${budgetHash})}">Powrót do budżetu</a>
        <a th:href="@{/budgetView/{budgetHash}/addTransaction(budgetHash=${budgetHash})}">Dodaj transakcje</a>
        <a th:href="@{/categories}">Przejdź do kategorii</a>
    </p>
    <p>
        <label>Kategoria: </label>
<!--        TODO kategoria pozycji-->
        <a th:href="@{/categoryView/{hash}(hash=${position.category.hash})}"
           th:text="${position.category.category}"></a>
        <!--        TODO typ pozycji - dodać link jw-->
        <p>Typ pozycji:
           <label th:text="${position.category.type}"></label>
    </p>
<!--    TODO statystyki jak we wszystkich - bieżący miesiąc kwaretał itd - no nie bo pozycja jest przypisana do danego miesiąca-->
<!--    TODO wymyślić inne statystyki-->
    <div>
        <h3>Statystyki:</h3>
        <p>
            <label>Planowana wartość: </label>
            <label th:text="${position.plannedAmount}"></label>
        </p>
        <p>
            <label>Aktualna wartość: </label>
            <label th:text="${position.actualAmount}"></label>
        </p>
        <p th:if="${position.plannedAmount != 0.0}">
            <label>Realizacja: </label>
            <label th:text="${position.usage}"></label>
            <label> %</label>
        </p>
    </div>
    <div>
        <h3>Widok dzienny</h3>
        <table>
            <tr >
                <td>Dzień miesiąca: </td>
                <td th:each="day : ${position.dailyView}" th:text="${day.key}"></td>
            </tr>
            <tr>
                <td>Saldo transakcji: </td>
                <td th:each="day : ${position.dailyView}" th:text="${day.value}"></td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Transakcje</h3>
        <table>
            <tr>
                <td>Dzień</td><td>Konto</td><td>Kwota</td><td>Sklep</td><td>Dla kogo</td><td>Opis</td>
            </tr>
<!--            TODO sortowanie od najnowszej?-->
            <tr th:each="transaction : ${position.transactionsDto}">
                <td th:text="${transaction.day}"></td>
                <td>
                    <a th:href="@{/accountView/{hash}(hash=${transaction.account.hash})}"
                       th:text="${transaction.account.name}"></a>
                </td>
                <td th:text="${transaction.amount}"></td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.payee.hash})}"
                       th:text="${transaction.payee.name}"></a>
                </td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.gainer.hash})}"
                       th:text="${transaction.gainer.name}"></a>
                </td>
                <td th:text="${transaction.description}"></td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>