<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<main>
    <!--/*@thymesVar id="product" type="com.moneyAppV5.product.dto.ProductWriteModel"*/-->
    <!--/*@thymesVar id="brand" type="com.moneyAppV5.product.Brand"*/-->
    <!--/*@thymesVar id="genre" type="com.moneyAppV5.product.Genre"*/-->
    <!--/*@thymesVar id="unit" type="com.moneyAppV5.product.Unit"*/-->
    <!--/*@thymesVar id="shop" type="com.moneyAppV5.product.Shop"*/-->
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <form action="#" method="post" th:action="@{/products}" th:object="${product}">
        <fieldset>
            <legend>Nowy produkt</legend>
            <label>Producent
<!--                <input list="brandsList" th:field="${product.brand}" />-->
<!--                <datalist id="brandsList">-->
<!--                    <option >Proszę wybrać</option>-->
<!--                    <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>-->
<!--                </datalist>-->
                <select th:field="${product.brand}">
                    <option value="0">Proszę wybrać</option>
                    <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}" ></option>
                </select>
            </label>
            <label>Grupa produktów
<!--                <input list="genresList" th:field="${product.genre}" />-->
<!--                <datalist id="genresList">-->
<!--                    <option >Proszę wybrać</option>-->
<!--                    <option th:each="genre : ${genres}" th:text="${genre.name}"></option>-->
<!--                </datalist>-->
                <select th:field="${product.genre}">
                    <option value="0">Proszę wybrać</option>
                    <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}" ></option>
                </select>
            </label>
            <label>Nazwa
                <input th:field="*{name}" />
            </label>
            <label>Kod kreskowy
                <input th:field="*{barCode}" />
            </label>
            <label>Ilość
                <input type="number" step="0.01" th:field="*{quantity}" />
            </label>
            <label>Jednostka miary
                <select th:field="${product.unit}">
                    <option value="0">Proszę wybrać</option>
                    <option th:each="unit : ${units}" th:value="${unit.id}" th:text="|${unit.subUnit.name}${unit.mainUnit.name}|" ></option>
                </select>
            </label>
            <label>Opis
                <input th:field="*{description}" />
            </label>
            <fieldset th:each="price, i : *{prices}">
                <legend>Ceny</legend>
                <label>Cena
                    <input type="number" step="0.01" th:field="*{prices[__${i.index}__].price}"/>
                </label>
                <label>Sklep
<!--                    <input list="shopsList" th:field="*{prices[__${i.index}__].shop}" />-->
<!--                    <datalist id="shopsList">-->
<!--                        <option >Proszę wybrać</option>-->
<!--                        <option th:each="shop : ${shops}" th:text="${shop.name}"></option>-->
<!--                    </datalist>-->
                    <select th:field="*{prices[__${i.index}__].shop}">
                        <option value="0">Proszę wybrać</option>
                        <option th:each="shop : ${shops}" th:value="${shop.id}" th:text="${shop.name}" ></option>
                    </select>
                </label>
            </fieldset>
            <div>
                <button type="submit" name="addPrice">+</button>
            </div>

        </fieldset>
        <p>
            <button type="submit">Dodaj</button>
            <button type="reset">Wyczyść</button>
        </p>
    </form>
</main>
</body>
</html>