<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transakcje</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">

</head>
<body>
<main>
    <a th:href="@{/moneys}">Strona główna</a>
    <!--/*@thymesVar id="transaction" type="com.moneyAppV5.transaction.dto.TransactionDTO"*/-->
    <div>
        <h1>Transakcje</h1>
        <table>
            <tr>
                <td>Data</td><td>konto</td><td>Kwota [zł]</td><td>Kontrahent</td><td>Kategoria</td><td>Beneficjent</td><td>opis</td>
            </tr>
            <tr th:each="transaction : ${transactions}">
<!--                TODO dodać opcje filtrowania listy-->
                <td th:text="${transaction.date}" ></td>
                <td th:text="${transaction.account.name}"></td>
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.payee.name}"></td>
                <td th:text="${transaction.category.category}"></td>
                <td th:text="${transaction.gainer.name}"></td>
                <td th:text="${transaction.description}"></td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>